{erl_opts, [debug_info,
            fail_on_warning]}.

{cover_enabled, true}.

{dialyzer_opts, [{plt, "erlang-protocol.plt"},
                 {warnings, [no_return, race_conditions, underspecs, behaviours]},
                 src]}.

{eunit_opts,    [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_print_enabled, true}.
{edoc_opts, [{todo, true}]}.
{cover_enabled, true}.
{cover_print_enable, true}.
{cover_export_enabled, true}.
